/*form layout style*/
.auth-scetion {
   margin: 231px auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 640px;
   height: auto;
}

.form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
}

/*form section sytle*/
.form__logo{
   width: 396px;
   height: 132px;
   margin-bottom: 32px;
}
.form__label {
   display: block;
   align-self: flex-start;
   font-size: 1.8rem;
   font-weight: 700;
   color: var(--gray800);
}
.form__input {
   width: 100%;
   height: 56px;
   margin-top: 16px;
   margin-bottom: 24px;
   padding: 14px 24px;
   background-color: var(--gray100);
   border-radius: 12px;
   border: none;
   font-size: 1.6rem;
   font-weight: 400;
}
.form__button{
   width: 100%;
   height: 56px;
   padding-block: 16px;
   margin-bottom: 24px;
   border-radius: 40px;
   border: none;
   background-color: var(--blue);
   font-size: 2rem;
   font-weight: 600;
   color: var(--white);
}
.form__button:hover{
   background-color: var(--dark-blue);
}
.form__password-input {
   width: 100%;
   position: relative;
}
.form__password-toggle{
   position: absolute;
   display: inline;
   background-image: url('/images/icon/ic_visibility_off.svg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 24px;
   height: 24px;
   top: 34%;
   right: 5%;
}
.password-confirm{
   background-image: url('/images/icon/ic_visibility_on.svg');
}

/*form sns login style*/
.form__sns {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 74px;
   padding: 16px 23px;
   margin-bottom: 24px;
   background-color: var(--light-blue);
   border-radius: 12px;
}
.form__sns-title {
   font-size: 1.6rem;
   font-weight: 500;
   color: var(--gray800);
}
.form__sns-list {
   display: flex;
   gap: 16px;
}
.form__sns-icon {
   width: 42px;
   height: 42px;
}

/*form footer style*/
.form__footer {
   text-align: center;
   font-size: 1.4rem;
   font-weight: 500;
   color: var(--gray800);
}
.form__footer-link {
   font-size: 1.4rem;
   text-decoration: underline;
   color: var(--blue);
}

/*Moblie Version*/
@media (min-width: 375px) and (max-width: 767px){
   .auth-scetion {
      width: 343px;
   }

   .form__logo{
      width: 198px;
      height: 66px;
      margin-bottom: 24px;
   }

   .form__label {
      font-size: 1.4rem;
   }
}